@import url
font-family: 'Montserrat', sans-serif; 'Playfair Display', serif;'Sedgwick Ave Display', cursive; sans-serif;
 

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 1em
}

img {
    max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(57, 110, 148)
}