header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    color: rgb(253, 253, 253);
}

header {
    display: flex;
    align-items: center;
    background-color: #58C1D0;
}

header img {
    margin-left: 25px;
    width: 90px;
    margin-right: 5px;
}

h1 {
    color: white;
    margin: 0;
    text-align: center;
    font-family: "Courgette", "Montserrat", "Open Sans", "sans-serif";
}

nav a {
    text-align: center;
    padding: .5rem;
    margin-left: 1.3rem;
    color: white;
    text-decoration: none;
    display: block;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    font-size: 1.3rem;
}


nav a:hover {
    color: #2175BF;
}
